aside{
    float: left;
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 1220px;
    border-radius: 20px;
    gap: 24px;
    border-width: 1px;
    padding: 20px 24px;
}
.sect{
    width: 270px;
    display: flex;
    justify-content: space-between;
}
h2{
    width: 247px;
    height: 27px;
    justify-content: space-between;
}
.filters{
    display: flex;
    flex-direction: column;

}
.filter{
    width: 247px;
    height: 16px;
    display: flex;
    justify-items: space-between;
    clear: both;
    margin: 5px auto;
}
#rot{
    rotate: 90deg;
}
#price-range{
    width: 100px;
    height: 50px;
}
.shift{
    position: relative;
    top: 8px;
}