#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
main{
  padding: 0 2em;
}
.ad-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  background: black;
  color: white;
  text-align: center;
}
span{
  font-family: Satoshi;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  text-decoration: underline;
  color: white;
}
.frame{
  width: 20;
  height: 20;
  position: relative;
  top: 0;
  left: 15%;
}
header{
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-content: baseline;
  margin: 0.5em auto;
}
h1{
  width: 160px;
  height: 22px;
  font: 700 32px/38.4px;
  color: black;
  position: relative;
  bottom: 8px;
}
ul{
  width: 321px;
  height: 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  position: relative;
  top: 10px;
  left: 20px;
}
.search-bar{
  width: 577px;
  height: 48px;
  border-radius: 62px;
  padding: 12px 16px 12px 16px;
  background-color:#F0F0F0;
  border: none;
  display: flex;
  justify-content: flex-start;
}
input{
  border: none;
  color: black;
  background-color: inherit;
  width: 500px;
  &:active {
    border: none;
    color: black;
  }
}
.icon{
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 10px;
}
#ad{
  position: relative;
  top: 3px;
  width: 351px;
  height: 19px;
  line-height: 18.9px;
  font-size: 14px;
  font-weight: 400;
}
.Casual{
  width: 296px;
  height: 444px;
  display: flex;
  flex-direction: row;
}
hr{
  width: 98%;
  margin: 0 auto;
}
#class{
  display: flex;
  flex-direction: row;
  height: 4em;
}
