#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
main{
  padding: 0 2em;
}
.frame{
  width: 20;
  height: 20;
  position: relative;
  top: 0;
  left: 15%;
} 
h1{
  font: 700 32px/38.4px;
  color: black;
  position: relative;
  bottom: 8px;
}
li{
  gap: 24px;
  display: inline;
}
#search:active, #search:focus-visible, #search:focus {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    color: black;
  }
#ad{
  position: relative;
  top: 3px;
  font-size: 14px;
}
.Casual{
  width: 900px;
  height: 444px;
  display: flex;
  flex-flow: row wrap;
}
hr{
  width: 100%;
  margin: 0 auto;
}
#class{
  display: flex;
  flex-direction: row;
  height: 4em;
}
